.c-button {
  transition-duration: .3s;
  transition-property: background-color,color,border-color;
  align-items: center;
  border: 0 solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: .66667rem;
  justify-content: center;
  line-height: 1.5;
  padding: .77778rem 1rem;
  position: relative;
  font-weight: 700;
  letter-spacing: .05556rem;
  text-transform: uppercase;
}

.c-menu__link.is-active, .c-menu__link:hover {
  color: #fff;
  text-decoration: none;
}

.c-button--primary:focus, .c-button--primary:hover {
  background-color: #3647e3;
  border-color: #3647e3;
  color: #fff;
}

.c-menu__link.is-active:after, .c-menu__link:hover:after {
  opacity: 1;
}
.c-menu__link:after {
  background-color: #fff;
  border-radius: 50%;
  bottom: -6px;
  content: "";
  display: block;
  height: 4px;
  left: calc(50% - 2px);
  opacity: 0;
  position: absolute;
  transition: opacity .4s;
  width: 4px;
}


.c-button--primary {
  background-color: #4c5be6;
  border-color: #4c5be6;
  border-radius: .11111rem;
  color: #fff;
  box-shadow: 0 0.11111rem 0.22222rem 0 rgba(0,0,0,.1);
}

.c-button, .c-button:focus, .c-button:hover {
  text-decoration: none;
}

a {
  color: #4c5be6;
  text-decoration: none;
  transition: color .3s;
}

.c-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.c-menu__link {
  color: #fff;
  font-size: .88889rem;
  margin-right: 1.33333rem;
  position: relative;
}
