<template>
  <div class="contentCard">
    <div class="rateCountContainer">
      <span class="count">{{contentObject.count}}</span>
    </div>
    <div class="rateContent">
      <span class="rateTitle">{{contentObject.title}}</span>
      <span class="rateUrl">{{contentObject.website}}</span>
      <span class="createdDate">{{contentObject.date | newDateFormat}}</span>
      <span v-if="checkRate(contentObject.id)" class="createdDate">Rate Date : {{checkRate(contentObject.id).date| newDateFormat}}</span>

    </div>
    <div class="rate">
      <a class="button" :class="{'is-success': (checkRate(contentObject.id) && checkRate(contentObject.id).rate ==='up')}"  @click="rateContent('up')">Up</a>
      <a class="button" :class="{'is-success': (checkRate(contentObject.id) && checkRate(contentObject.id).rate ==='down')}" @click="rateContent('down')">Down</a>
    </div>
  </div>
</template>

<script>
    export default {
        name: "contentCard",
        props: {
            contentObject:Object
        },

      methods: {
          rateContent:function (value) {

            let getData = this.$store.state.allList.filter((v) => {
              return v.id === this.contentObject.id;
            })[0];

               getData.rate = value;
              this.$store.dispatch("CHANGE_ALL_LIST_PLUS", getData);
              this.$store.dispatch("CHANGE_RATE", getData);


          },
          checkRate: function (value) {

            let process = this.$store.state.rateList.filter((v) => {
              return v.id === value;
            })[0];

            if (process) {
              return process
            }
          }
      },

      computed: {
          getRateList: function () {
            return this.$store.state.rateList;
          },



      },
      filters: {
        newDateFormat: function (value) {
          if (value) {
            return new Date(value).yyyymmdd();
          }
        }
      }
    }
</script>

<style scoped>

</style>
