<template>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Vote</h1>
      </div>
      <nav class="c-menu">
        <router-link class="c-menu__link"  :class="{'is-active': (getUrl === '/')}" :to="{name:'home'}"> Home </router-link>
        <router-link class="c-button c-button--primary" :to="{name:'add'}"> Add to New Link </router-link>
      </nav>
    </div>
  </header>
</template>


<script type="text/babel">


  export default {
    data() {
      return {
        getUrl: this.$route.fullPath,
      }
    },

  }


</script>


<style>

  header {
    background: #272939;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  header .logo {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
  }

  header .mainMenu {
  }

  header .mainMenu ul {
    display: flex;
  }

  header .mainMenu ul li {
    margin-right: 10px;
  }

</style>
