<template>
  <div>
    <main-header></main-header>
    <main>
      <div class="container">
        <div class="contentHeader">
          <h1>Recent Sites</h1>
          <div class="select">
            <select v-model="listType">
              <option>ASC</option>
              <option>DESC</option>
            </select>
          </div>
        </div>

        <div class="contentCardList">
          <ul>
            <li v-for="contentItem in reviewForList">
                <content-card :contentObject="contentItem"></content-card>
            </li>
          </ul>
        </div>
        <div class="paginationContainer">
          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" title="This is the first page" :disabled="currentPage === 1" @click="changePage(currentPage-1)">Previous</a>
            <a class="pagination-next"  :disabled="currentPage === currentTotal" @click="changePage(currentPage+1)">Next page</a>
            <ul class="pagination-list">
              <li v-for="(guess, i) in currentTotal">
                <a class="pagination-link" :class="{'is-current': (guess === currentPage)}" @click="changePage(guess)" aria-current="page">{{guess}}</a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </main>
  </div>
</template>

<script type="text/babel">

  import MainHeader from "../components/Header.vue"
  import ContentCard from "../components/contentCard";

  export default {
    components:{ContentCard, MainHeader},
    data(){
      return {
        allList:[],
        listType:'ASC',
        currentTotal: 3,
        currentPage: 1,
        listItemCount:10,
        oldSlice:0,
        nextSlice:10,
      }
    },
    mounted() {
      this.$nextTick(function () {


        this.allList = this.$store.state.allList;
        this.currentTotal = Math.ceil(this.allList.length / this.listItemCount);


      });
    },

    methods: {
      changePage:function (page) {

      if(page >= 1 && page <= this.currentTotal) {
        this.currentPage = page;
        this.nextSlice = page * this.listItemCount;
        this.oldSlice =  this.nextSlice - this.listItemCount
      }


      }

    },
    computed: {
      reviewForList: function() {
        return this.allList.sort((a, b) => this.listType === "ASC" ? parseFloat(b.count) - parseFloat(a.count) : parseFloat(a.count) - parseFloat(b.count)).slice(this.oldSlice,this.nextSlice)
      }
    },
    watch:{
      listType: function (value) {
        console.log(value);
      }
    }
  }
</script>

<style>








  main {
    margin-top: 20px;
  }

  main .contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .contentHeader h1 {
    font-size: 32px
  }


  main .contentCardList {
    margin-top: 20px;
  }

  main .contentCardList ul li {
    background: #fafafa;
    height: 150px;
    display: flex;
    margin-bottom: 12px;

  }

  main .contentCardList .contentCard {
    display: flex;
    align-items: center;
    width: 100%;
  }


  .contentCardList .contentCard .rateCountContainer {
    background: #4c5be6;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 70px;
    font-size: 35px;
    font-weight: 600;
    margin-right: 21px;
    color: #fff;
    flex: 1;
    justify-content: center;
  }

  .contentCardList .contentCard .rateContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex: 10;
  }

  .contentCardList .contentCard .rateContent .rateTitle {
    font-size: 26px;
    font-weight: 700;
  }

  .contentCardList .contentCard .rateContent .rateUrl {
    font-size: 10px;
    margin-bottom: 30px;
  }

  .contentCardList .contentCard .rateContent .rateDate {
    font-size: 12px;
  }

  .contentCardList .contentCard .rate {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentCardList .contentCard .button {
    margin-right: 10px;
  }




</style>

