<template>
  <div>
    <main-header></main-header>
    <main class="newForm">
      <div class="container">
        <div class="contentHeader">
          <span class="contentTitle">Add to New Link</span>
        </div>
        <div class="contentMain">
          <div class="field">
            <label class="label">Website</label>
            <div class="control">
              <input v-model="websiteName" class="input" :class="{'is-danger': (websiteNameErrorMessage)}" type="text" placeholder="Website Name" value="">
            </div>
            <p v-if="websiteNameErrorMessage" class="help is-danger">{{websiteNameErrorMessage}}</p>
          </div>
          <div class="field">
            <label class="label">Website Url</label>
            <div class="control">
              <input v-model="websiteURL" class="input" :class="{'is-danger': (websiteURLErrorMessage)}" type="text" placeholder="Website Name" value="">
            </div>
            <p v-if="websiteURLErrorMessage" class="help is-danger">{{websiteURLErrorMessage}}</p>
          </div>
          <div class="submitButton">
            <a @click="addLink()" class="c-button c-button--primary router-link-exact-active router-link-active"> Add to New Link </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script type="text/babel">

  import MainHeader from "../components/Header.vue"

  import getmain from "../main.js";

  export default {
    components: {MainHeader},
    data() {
      return {
        websiteName :'',
        websiteNameErrorMessage:'',
        websiteURL :'',
        websiteURLErrorMessage:''
      }
    },
    methods:{
      addLink: function () {


        if(this.websiteName.length < 3) {
          this.websiteNameErrorMessage = "Website name is short";
        } else {
          this.websiteNameErrorMessage = ''
        }


        if(!this.checkUrl(this.websiteURL)) {
          this.websiteURLErrorMessage = "invalid url";
        } else {
          this.websiteURLErrorMessage = ''
        }


        if(this.websiteURLErrorMessage === '' && this.websiteNameErrorMessage === '') {

          let contentData = {
            id: this.idGenerator(),
            title: this.websiteName,
            website: this.websiteURL,
            count: 0,
            date:Date.now(),
          }

          this.$store.dispatch("CHANGE_ADD_LIST", contentData);

          alert("Link Has beed Added");

          this.websiteName = '';
          this.websiteNameErrorMessage = '';
          this.websiteURL = '';
          this.websiteURLErrorMessage = '';


        }







      },

      checkUrl: function (value) {
        let expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
        let regex = new RegExp(expression);

        return !!value.match(regex);



      },

      idGenerator: function () {
          function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
          }
          return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();

      }


    }
  }
</script>
<style>

  .newForm {
    margin-top: 20px;
  }

  .contentTitle {
    font-size: 25px;
    font-weight: 700;
  }

  .contentMain {
    margin-top: 40px;
  }

  .submitButton {
    margin-top: 30px;
  }

</style>
